name: Deploy API
on: [push]
jobs:

  build:
    name: Deploy API
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v1

    - name: Get APIC Toolkit
      env:
        MANAGER_HOST: manager.${{ secrets.host_suffix}}
      run: |
        curl -LO https://${MANAGER_HOST}/client-downloads/toolkit-linux.tgz
        tar -vzxf toolkit-linux.tgz
        ls -l
        chmod a+x apic-slim

    - name: Get IAM token
      env:
        API_KEY: ${{ secrets.api_key }}
        API_HOST: api.${{ secrets.host_suffix}}
      run: |
        mkdir ~/.apiconnect/
        touch ~/.apiconnect/token
        ACCESS_TOKEN=$(curl -s "https://iam.cloud.ibm.com/identity/token" -H 'Content-Type: application/x-www-form-urlencoded' -H 'Accept: application/json' --data "grant_type=urn:ibm:params:oauth:grant-type:apikey&apikey=$API_KEY" | jq .access_token -r)
        echo "${API_HOST}/api: |
                refresh_token: \"\"
                access_token: ${ACCESS_TOKEN}" > ~/.apiconnect/token 

    - name: List orgs with apic CLI
      env:
        API_HOST: api.${{ secrets.host_suffix}}
      run: |
        ./apic-slim orgs --accept-license --my --server ${API_HOST}
